* {background-color: rgb(200, 201, 228)}
*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1{
    text-align: center;
    margin-top: 0%;;
    color: white;
    background-color: rgb(42, 42, 87);
}
h2{
    text-align: center;
    color: rgb(3, 3, 71);
}
p{
    color: black; 
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
a{
    color: black;
}
img{
    text-align: center;
    margin-left: 450px;
    margin-bottom: 5%;
}
.menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
#habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #0e1da3;
    border-radius: 5px;
    margin-right: 10px;
}
nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
}
nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
section {
    padding: 20px;
    border: 1px solid #07024b;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

